<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KeepInventory</title>

  <link rel="stylesheet" th:href="@{/stylesheets/style.css}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">

</head>
<body>
  <div class="navbar">
    <div class="toggle-btn" onclick="toggleSidebar()">
      <img src="/img/burguer.png" alt="Toggle" class="toggle-image">
    </div>
    <div class="navbar-right">
      <a href="/page/Avisos">
        <img src="/img/campainha-off.png" alt="Alerts" class="navbar-campainha">
      </a>
      <a href="/page/Usuarios">
        <img src="/img/usuario.png" alt="User" class="navbar-user-image">
      </a>
    </div>
  </div>

  <div id="mySidebar" class="sidebar">
    <a href="/page/infoGeral">
      <button class="sidebar-btn" >
        <img src="/img/inventario.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Inventário</a>
      </button>
    </a>
    <a href="/page/NovoCadastro">
      <button class="sidebar-btn" >
        <img src="/img/cadastrar.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Cadastrar</a>
      </button>
    </a>
    <a href="/page/activeFieldRegistration">
      <button class="sidebar-btn" >
        <img src="/img/active.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Campos Ativos</a>
      </button>
    </a>
    <a href="/page/location">
      <button class="sidebar-btn" >
        <img src="/img/location.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Localização</a>
      </button>
    </a>
    <a href="/page/Usuarios">
      <button class="sidebar-btn" >
        <img src="/img/user.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Usuários</a>
      </button>
    </a>
  </div>

  <div class="main-content-usuarios">

    <div class="info-container">
      <div class="info-text">
        <a class="item-text">Avisos</a>
      </div>
    </div>

    <div th:each="item, stat : ${overdueItems}">
      <!-- <p th:text="${item}"></p>  print statement for debugging -->
      <div th:if="${isOverdue[stat.index]}" class="aviso">
        <strong>Manutenção</strong> de Equipamento <strong>atrasada</strong> a
        <span th:text="${dateUtils.daysBetween(item.proxima_qualificacao, #dates.createToday())}"></span>
        dias. - Item:
        <span th:text="${item.descricao}"></span> - Modelo: <span th:text="${item.modelo.nome}"></span> - Marca: <span th:text="${item.marca.nome}"></span>
      </div>
    </div>

  </div>

  <script th:src="@{/navbar.js}"></script>
  <script th:src="@{/input.js}"></script>
  <script th:src="@{/usuarios.js}"></script>

</body>
</html>
