<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KeepInventory</title>

  <link rel="stylesheet" th:href="@{/stylesheets/style.css}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">

</head>
<body>
  <div class="navbar">
    <div class="toggle-btn" onclick="toggleSidebar()">
      <img src="/img/burguer.png" alt="Toggle" class="toggle-image">
    </div>
    <div class="navbar-right">
      <a href="/page/Avisos">
        <img src="/img/campainha-off.png" alt="Alerts" class="navbar-campainha">
      </a>
      <a href="/page/Usuarios">
        <img src="/img/usuario.png" alt="User" class="navbar-user-image">
      </a>
    </div>
  </div>

  <div id="mySidebar" class="sidebar">
    <a href="/page/infoGeral">
      <button class="sidebar-btn" >
        <img src="/img/inventario.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Inventário</a>
      </button>
    </a>
    <a href="/page/NovoCadastro">
      <button class="sidebar-btn" >
        <img src="/img/cadastrar.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Cadastrar</a>
      </button>
    </a>
    <a href="/page/activeFieldRegistration">
      <button class="sidebar-btn" >
        <img src="/img/active.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Campos Ativos</a>
      </button>
    </a>
    <a href="/page/location">
      <button class="sidebar-btn" >
        <img src="/img/location.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Localização</a>
      </button>
    </a>
    <a href="/page/Usuarios">
      <button class="sidebar-btn" >
        <img src="/img/user.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Usuários</a>
      </button>
    </a>
  </div>

  <div class="main-content">

    <div class="info-container">
      <div class="info-text">
        <a class="item-text">Inventário</a>
      </div>
      <div class="info-buttons">
        <div class="buttons">
          <input type="file" id="fileInput" style="display: none;">
          <button class="body-btn" id="importButton">
            <img src="/img/plus.png" alt="Image description" class="button-img">
            Importar itens
          </button>
          <button class="body-btn" onclick="exportToExcel()">
            <img src="/img/plus.png" alt="Image description" class="button-img">
            Gerar XSLX
          </button>
        </div>
      </div>
    </div>

    <div class="select-div">
      <input type="search" id="search-box" class="search-box" placeholder="Filtrar">
    </div>

    <table class="item-table">
      <thead>
        <tr>
          <th></th>
          <th>Item</th>
          <th>Local Atual</th>
          <th>Origem</th>
          <th>Marca</th>
          <th>Status</th>
          <th>Disponibilidade</th>
        </tr>
      </thead>
      <tbody id="item-table-body">
      <tr th:each="item : ${page.content}">
        <td>
          <button type="button" class="eye-button">
            <a th:href="@{/page/infoEspecifica(id=${item.id_item})}" class="eye-icon">
              <img src="/img/eye.png" alt="View Details" class="eye-icon">
            </a>
          </button>
        </td>
        <td th:text="${item.descricao}"></td>
        <td th:text="${item.localizacao_atual}"></td>
        <td th:text="${item.localizacao.nome}"></td>
        <td th:text="${item.marca.nome}"></td>
        <td th:text="${item.status.nome}"></td>
        <td th:text="${item.estado.nome}"></td>
      </tr>
      </tbody>
    </table>
    <form id="paginationForm" th:action="@{/item}" method="get">
      <input type="hidden" name="pageSize" value="${page.size}">
      <input type="hidden" name="page" th:value="${page.number}">
      <div th:if="${page.totalPages > 1}">
        <ul class="pagination">
          <li th:class="${page.number == 0} ? 'disabled' : ''">
            <a th:if="${page.number > 0}" th:href="@{/page/infoGeral(page=${page.number - 1})}">&laquo; Previous</a>
            <span th:unless="${page.number > 0}">&laquo; Previous</span>
          </li>
          <li>
            <span>Page: <span th:text="${page.number+1}"></span> of <span th:text="${page.totalPages}"></span></span>
          </li>
          <li th:class="${page.number == (page.totalPages - 1)} ? 'disabled' : ''">
            <a th:if="${page.number < (page.totalPages - 1)}" th:href="@{/page/infoGeral(page=${page.number + 1})}">Next &raquo;</a>
            <span th:unless="${page.number < (page.totalPages - 1)}">Next &raquo;</span>
          </li>
        </ul>
      </div>
    </form>
  </div>

  <div id="successModal" class="successModal">
    <div class="successModal-content">
      <span class="close">&times;</span>
      <p>Itens importados com sucesso!</p>
    </div>
  </div>

  <script th:src="@{/navbar.js}"></script>
  <script th:src="@{/input.js}"></script>
  <script th:src="@{/inventario.js}"></script>
  <script th:src="@{/exportToExcel.js}"></script>
  <script th:src="@{/importFromExcel.js}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const searchBox = document.getElementById("search-box");
      const tableBody = document.getElementById("item-table-body");

      searchBox.addEventListener("input", function() {
        const searchTerm = searchBox.value.toLowerCase();

        if (searchTerm.length > 3) {
          Array.from(tableBody.getElementsByTagName("tr")).forEach(row => {
            const descriptionCell = row.getElementsByTagName("td")[1];
            const description = descriptionCell ? descriptionCell.textContent.toLowerCase() : "";

            if (description.includes(searchTerm)) {
              row.style.display = "";
            } else {
              row.style.display = "none";
            }
          });
        } else {
          Array.from(tableBody.getElementsByTagName("tr")).forEach(row => {
            row.style.display = "";
          });
        }
      });
    });
  </script>

</body>
</html>