<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KeepInventory</title>

  <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">

</head>
<body>

  <div class="logon-page">
    <div class="logon-container">
      <div class="form-logon">

        <div class="form-content">

          <div class="linha-vermelha"></div>

          <form th:action="@{/logon}" th:object="${user}" method="post">
            <div class="columns">
              <div class="column-logon">
                <div class="form2">
                  <div class="label-username-2">
                    <label for="nome">Nome:</label>
                  </div>
                  <div class="input-username-2">
                    <input type="text" id="nome" name="nome" placeholder="Nome">
                  </div>
                  <div class="label-email-2">
                    <label for="email">Email:</label>
                  </div>
                  <div class="input-email-2">
                    <input type="email" id="email" name="email" placeholder="Email">
                  </div>
                  <div class="label-senha-2">
                    <label for="senha">Senha:</label><br>
                  </div>
                  <div class="input-senha-2">
                    <input type="password" id="senha" name="senha" placeholder="Mínimo de 8 caracteres">
                  </div>
                </div>
              </div>

              <div class="column-logon">
                <div class="form3">
                  <div class="label-sobrenome-2">
                    <label for="sobrenome">Sobrenome:</label>
                  </div>
                  <div class="input-sobrenome-2">
                    <input type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome">
                  </div>
                  <div class="label-tipo-usuario">
                    <label for="tipo_usuario">Tipo de Usuário:</label>
                  </div>
                  <div class="input-tipo-usuario">
                    <select id="tipo_usuario" name="tipo_usuario">
                      <option value="Administrador">Administrador</option>
                      <option value="Colaborador">Colaborador</option>
                      <option value="Aluno">Aluno</option>
                    </select>
                  </div>
                  <div class="label-confirmar-senha-2">
                    <label for="confirmar-senha">Confirmar senha:</label><br>
                  </div>
                  <div class="input-confirmar-senha-2">
                    <input type="password" id="confirmar-senha" name="confirmar-senha" placeholder="Mínimo de 8 caracteres">
                  </div>
                </div>
              </div>
            </div>

            <button type="submit" class="submit" style="font-size: 1.2rem">Cadastre-se</button>
          </form>

          <div class="entrar-conta">
            <a class="entrar-conta" href="/page/login">Já possui conta? Entrar</a>
          </div>

          <div th:if="${error}" th:text="${error}" class="error-message"></div>
          
        </div>

      </div>
    </div>
  </div>
  
</body>
</html>
